html {
  font-family: 'Open Sans', Sans-Serif;
  line-height: 1.5;
  font-size: 16px;
  @media print {
    font-size: 8px;
    -webkit-print-color-adjust: exact; /* Chrome, Safari */
    color-adjust: exact; /* Firefox */
  }
}

.bold,
b {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #004d61;

  &:focus,
  &:hover {
    color: black;
  }
}


a.navigation {
  font-weight: bold;
}
a.active, a.current {
  color: black;
}

.small {
  font-size: 0.6rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ul {
  padding-left: 1em;
}
