
@import "../_global/color.css"; 

.halfday {
  .halfday-bg--black {
    background-color: $c_black;
  }
  .halfday-bg--bordeaux {
    background-color: $c_bordeaux;
  }
  .halfday-bg--cold-green {
    background-color: $c_cold-green;
  }
  .halfday-bg--cyan {
    background-color: $c_cyan;
  }
  .halfday-bg--dark-green {
    background-color: $c_dark-green;
  }
  .halfday-bg--dark-red {
    background-color: $c_dark-red;
  }
  .halfday-bg--gray-violet {
    background-color: $c_gray-violet;
  }
  .halfday-bg--green {
    background-color: $c_green;
  }
  .halfday-bg--green-gray {
    background-color: $c_green-gray;
  }
  .halfday-bg--light-brown {
    background-color: $c_light-brown;
  }
  .halfday-bg--light-green {
    background-color: $c_light-green;
  }
  .halfday-bg--magenta {
    background-color: $c_magenta;
  }
  .halfday-bg--orange {
    background-color: $c_orange;
  }
  .halfday-bg--petrol {
    background-color: $c_petrol;
  }
  .halfday-bg--violet {
    background-color: $c_violet;
  }
  .halfday-bg--gray {
    background-color: $c_gray;
  }
  .halfday-bg--mint {
    background-color: $c_mint;
  }

  &--inner {
    min-height: 4rem;
    padding: 0.6rem 0.6rem 0.5rem;
  }

  &--comment,
  &--lession,
  &--teacher {
    font-weight: bold;

    .bg {
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      box-decoration-break: clone;
    }
  }

  &--lession {
    .bg {
      padding-top: 0.05rem;
      padding-bottom: 0.05rem;
    }
  }

  &--comment,
  &--lession {
    .bg {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  &--comment,
  &--teacher {
    font-size: 0.6rem;

    .bg {
      padding-top: 0.04rem;
      padding-bottom: 0.03rem;
    }
  }

  &--teacher {
    .bg {
      background-color: #333;
    }
    color: #bbb;
    display: table;
  }

  &--lession {
    color: black;
  }

  &--comment {
    color: black;
  }
}
