.week {
  border-top-style: solid;
  border-top-width: 0.5rem;
  border-top-color: black;

  display: flex;

  @media print {
    page-break-inside: avoid;
  }

  &--jump {
    margin-top: -3rem; /* Size of fixed header */
    padding-bottom: 3rem;
    display: block;
  }

  &-header {
    display: flex;

    &--title {
      /* flex: 1 1 span(3 of 4); */
      flex: 1 1 73.68421%;
    }

    &--day {
      /* flex: 1 1 span(1 of 4); */
      flex: 1 1 21.05263%;
      p {
        text-align: right;
        margin-top: 0.9rem;
      }
    }
    &--fr,
    &--sa {
      min-height: 4rem;
      padding-top: 0.6rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.2rem;
    }
  }

  &--text {
    /* flex: 1 1 span(4); */
    flex: 1 1 24.05063%;
    /* padding-right: gutter() / 2; */
    padding-right: 0.63291%;
  }

  &--date {
    /* flex: 1 1 span(12); */
    flex: 1 1 74.68354%;
    /* padding-left: gutter() / 2; */
    padding-left: 0.63291%;
  }

  &--day {
    display: flex;
  }

  &-FR--day {
    margin-bottom: 0.2rem;
  }

  &--allweek {
    /* flex: 1 1 span(12 of 12); */
    flex: 1 1 100%;
  }

  &--morning,
  &--afternoon {
    /* flex: 1 1 span(6 of 12); */
    flex: 1 1 49.15254%;
  }
}
