.semester {
  padding: 3rem 1rem;
  margin: 0 auto;
  max-width: 70rem;

  .navigation {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: left;
      list-style: none;

      li {
        flex: 0 1 auto;
        padding-right: 1rem;
      }
    }
  }

  @media print {
    max-width: 120rem;
    column-count: 2;
    column-gap: 8mm;
    column-rule: 0.5rem solid black;
    padding: 0;

    .noPrint {
      display: none;
    }

    .pagebreak {
      page-break-before: always;
    }
  }
}
