.weeks-header {
  position: sticky;
  top: -3rem;
  background-color: white;

  @media print {
    position: relative;
    top: 0;
  }

  &-inner {
    border-top-style: solid;
    border-top-width: 0.5rem;
    border-top-color: black;

    border-bottom-style: solid;
    border-bottom-width: 0.5rem;
    border-bottom-color: black;

    display: flex;

    &--morning,
    &--afternoon {
      /* flex: 1 1 span(6); */
      flex: 1 1 36.70886%;
      p {
        padding-left: 0.6rem;
        padding-top: 2rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0;
      }
    }
    &--morning {
      /* margin-left: span(4); */
      margin-left: 24.05063%;
      /* padding-left: gutter(); */
      padding-left: 1.26582%;
    }
  }
}

.weeks-header + .week {
  border-top-width: 0;
}
